.card {
  margin-top: 50px;
  display: inline-block; /* Faz o card se ajustar ao conteúdo */
  width: 100%; /* Mantém a largura total */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6); /* eixo-x, eixo-y, desfoque, cor */
  border: none;



}

.card-title{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: large;
  color: #0a0a0a;

}



.container {
  background-color: #f9faef!important;

}

.card-body {
  padding: 1rem; /* Mantém seu padding original */
  display: flex;
  flex-direction: column;
}

.ag-theme-alpine {
  --ag-grid-size: 6px;
  --ag-list-item-height: 30px;

  height: auto !important; /* Remove altura fixa */
  min-height: 100px; /* Altura mínima */
  flex-grow: 1; /* Cresce com o conteúdo */
  padding-top: 50px;
}

/* Remove qualquer barra de rolagem */
.ag-theme-alpine,
.ag-theme-alpine .ag-root-wrapper,
.card-body {
  overflow: visible !important;

}
