<div class="container-fluid">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div class="col-lg-12 centralizar topo">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center mb-4">
                <h5 class="card-title mb-0">Cadastro de Alunos</h5>
              </div>

              <!-- Dados do aluno -->
              <h6 class="mb-3">Dados Aluno</h6>
              <div class="row mb-3">
                <div class="col-md-6 mb-3">
                  <mdb-form-control>
                    <input mdbInput type="text" id="nome" class="form-control" [(ngModel)]="aluno.nome" />
                    <label mdbLabel class="form-label" for="nome">Nome</label>
                  </mdb-form-control>
                </div>
                <div class="col-md-6 mb-3">
                  <mat-form-field>
                    <mat-label>Data de nascimento</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="aluno.data">
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6 mb-3">
                  <mdb-form-control>
                    <select mdbInput class="form-control" [(ngModel)]="aluno.genero">
                      <option *ngFor="let g of generos" [value]="g">{{ g }}</option>
                    </select>
                    <label mdbLabel class="form-label">Gênero</label>
                  </mdb-form-control>
                </div>
                <div class="col-md-6 mb-3">
                  <mdb-form-control>
                    <input mdbInput type="text" id="telefone" class="form-control" [(ngModel)]="aluno.telefone" />
                    <label mdbLabel class="form-label" for="telefone">Telefone</label>
                  </mdb-form-control>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6 mb-3">
                  <mdb-form-control>
                    <input mdbInput type="text" id="email" class="form-control" [(ngModel)]="aluno.email" />
                    <label mdbLabel class="form-label" for="email">Email</label>
                  </mdb-form-control>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6 mb-3">
                  <mdb-form-control>
                    <input mdbInput type="text" id="cep" class="form-control" [(ngModel)]="aluno.cep" />
                    <label mdbLabel class="form-label" for="cep">CEP</label>
                  </mdb-form-control>
                </div>
                <div class="col-md-6 mb-3">
                  <mdb-form-control>
                    <input mdbInput type="text" id="rua" class="form-control" [(ngModel)]="aluno.rua" />
                    <label mdbLabel class="form-label" for="rua">Rua</label>
                  </mdb-form-control>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6 mb-3">
                  <mdb-form-control>
                    <input mdbInput type="text" id="numero" class="form-control" [(ngModel)]="aluno.numero" />
                    <label mdbLabel class="form-label" for="numero">Número</label>
                  </mdb-form-control>
                </div>
                <div class="col-md-6 mb-3">
                  <mdb-form-control>
                    <input mdbInput type="text" id="complemento" class="form-control" [(ngModel)]="aluno.complemento" />
                    <label mdbLabel class="form-label" for="complemento">Complemento</label>
                  </mdb-form-control>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6 mb-3">
                  <mdb-form-control>
                    <input mdbInput type="text" id="bairro" class="form-control" [(ngModel)]="aluno.bairro" />
                    <label mdbLabel class="form-label" for="bairro">Bairro</label>
                  </mdb-form-control>
                </div>
                <div class="col-md-6 mb-3">
                  <mdb-form-control>
                    <input mdbInput type="text" id="cidade" class="form-control" [(ngModel)]="aluno.cidade" />
                    <label mdbLabel class="form-label" for="cidade">Cidade</label>
                  </mdb-form-control>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6 mb-3">
                  <mdb-form-control>
                    <input mdbInput type="text" id="estado" class="form-control" [(ngModel)]="aluno.estado" />
                    <label mdbLabel class="form-label" for="estado">Estado</label>
                  </mdb-form-control>
                </div>
                <div class="col-md-6 mb-3">
                  <mdb-form-control>
                    <input mdbInput type="text" id="turma" class="form-control" [ngModel]="aluno.turma?.nome" disabled />
                    <label mdbLabel class="form-label" for="turma">Turma</label>
                  </mdb-form-control>
                </div>
              </div>

              <!-- Dados do responsável 1 -->
              <h6 class="mb-3">Dados Responsavel 1</h6>
              <div class="row mb-3">
                <div class="col-md-6 mb-3">
                  <mdb-form-control>
                    <input mdbInput type="text" id="nome_resp1" class="form-control" [(ngModel)]="aluno.nome_resp1" />
                    <label mdbLabel class="form-label" for="nome_resp1">Nome Responsável</label>
                  </mdb-form-control>
                </div>
                <div class="col-md-6 mb-3">
                  <mdb-form-control>
                    <input mdbInput type="text" id="telefone_resp1" class="form-control" [(ngModel)]="aluno.telefone_resp1" />
                    <label mdbLabel class="form-label" for="telefone_resp1">Telefone</label>
                  </mdb-form-control>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6 mb-3">
                  <mdb-form-control>
                    <input mdbInput type="text" id="email_resp1" class="form-control" [(ngModel)]="aluno.email_resp1" />
                    <label mdbLabel class="form-label" for="email_resp1">Email</label>
                  </mdb-form-control>
                </div>
                <div class="col-md-6 mb-3">
                  <mdb-form-control>
                    <input mdbInput type="text" id="cpf_resp1" class="form-control" [(ngModel)]="aluno.cpf_resp1" />
                    <label mdbLabel class="form-label" for="cpf_resp1">CPF</label>
                  </mdb-form-control>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6 mb-3">
                  <mdb-form-control>
                    <input mdbInput type="text" id="cep_resp1" class="form-control" [(ngModel)]="aluno.cep_resp1" />
                    <label mdbLabel class="form-label" for="cep_resp1">CEP</label>
                  </mdb-form-control>
                </div>
                <div class="col-md-6 mb-3">
                  <mdb-form-control>
                    <input mdbInput type="text" id="rua_resp1" class="form-control" [(ngModel)]="aluno.rua_resp1" />
                    <label mdbLabel class="form-label" for="rua_resp1">Rua</label>
                  </mdb-form-control>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6 mb-3">
                  <mdb-form-control>
                    <input mdbInput type="text" id="numero_resp1" class="form-control" [(ngModel)]="aluno.numero_resp1" />
                    <label mdbLabel class="form-label" for="numero_resp1">Número</label>
                  </mdb-form-control>
                </div>
                <div class="col-md-6 mb-3">
                  <mdb-form-control>
                    <input mdbInput type="text" id="complemento_resp1" class="form-control" [(ngModel)]="aluno.complemento_resp1" />
                    <label mdbLabel class="form-label" for="complemento_resp1">Complemento</label>
                  </mdb-form-control>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6 mb-3">
                  <mdb-form-control>
                    <input mdbInput type="text" id="bairro_resp1" class="form-control" [(ngModel)]="aluno.bairro_resp1" />
                    <label mdbLabel class="form-label" for="bairro_resp1">Bairro</label>
                  </mdb-form-control>
                </div>
                <div class="col-md-6 mb-3">
                  <mdb-form-control>
                    <input mdbInput type="text" id="cidade_resp1" class="form-control" [(ngModel)]="aluno.cidade_resp1" />
                    <label mdbLabel class="form-label" for="cidade_resp1">Cidade</label>
                  </mdb-form-control>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6 mb-3">
                  <mdb-form-control>
                    <input mdbInput type="text" id="estado_resp1" class="form-control" [(ngModel)]="aluno.estado_resp1" />
                    <label mdbLabel class="form-label" for="estado_resp1">Estado</label>
                  </mdb-form-control>
                </div>
                <div class="col-md-6 mb-3">
                  <mdb-form-control>
                    <select mdbInput class="form-control" [(ngModel)]="aluno.parentesco_resp1">
                      <option *ngFor="let p of parentescos" [value]="p">{{ p }}</option>
                    </select>
                    <label mdbLabel class="form-label">Parentesco</label>
                  </mdb-form-control>
                </div>
              </div>

              <!-- Dados do responsável 2 -->
              <h6 class="mb-3">Dados Responsavel 2</h6>
              <div class="row mb-3">
                <div class="col-md-6 mb-3">
                  <mdb-form-control>
                    <input mdbInput type="text" id="nome_resp2" class="form-control" [(ngModel)]="aluno.nome_resp2" />
                    <label mdbLabel class="form-label" for="nome_resp2">Nome Responsável</label>
                  </mdb-form-control>
                </div>
                <div class="col-md-6 mb-3">
                  <mdb-form-control>
                    <input mdbInput type="text" id="telefone_resp2" class="form-control" [(ngModel)]="aluno.telefone_resp2" />
                    <label mdbLabel class="form-label" for="telefone_resp2">Telefone</label>
                  </mdb-form-control>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6 mb-3">
                  <mdb-form-control>
                    <input mdbInput type="text" id="email_resp2" class="form-control" [(ngModel)]="aluno.email_resp2" />
                    <label mdbLabel class="form-label" for="email_resp2">Email</label>
                  </mdb-form-control>
                </div>
                <div class="col-md-6 mb-3">
                  <mdb-form-control>
                    <input mdbInput type="text" id="cpf_resp2" class="form-control" [(ngModel)]="aluno.cpf_resp2" />
                    <label mdbLabel class="form-label" for="cpf_resp2">CPF</label>
                  </mdb-form-control>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6 mb-3">
                  <mdb-form-control>
                    <input mdbInput type="text" id="cep_resp2" class="form-control" [(ngModel)]="aluno.cep_resp2" />
                    <label mdbLabel class="form-label" for="cep_resp2">CEP</label>
                  </mdb-form-control>
                </div>
                <div class="col-md-6 mb-3">
                  <mdb-form-control>
                    <input mdbInput type="text" id="rua_resp2" class="form-control" [(ngModel)]="aluno.rua_resp2" />
                    <label mdbLabel class="form-label" for="rua_resp2">Rua</label>
                  </mdb-form-control>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6 mb-3">
                  <mdb-form-control>
                    <input mdbInput type="text" id="numero_resp2" class="form-control" [(ngModel)]="aluno.numero_resp2" />
                    <label mdbLabel class="form-label" for="numero_resp2">Número</label>
                  </mdb-form-control>
                </div>
                <div class="col-md-6 mb-3">
                  <mdb-form-control>
                    <input mdbInput type="text" id="complemento_resp2" class="form-control" [(ngModel)]="aluno.complemento_resp2" />
                    <label mdbLabel class="form-label" for="complemento_resp2">Complemento</label>
                  </mdb-form-control>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6 mb-3">
                  <mdb-form-control>
                    <input mdbInput type="text" id="bairro_resp2" class="form-control" [(ngModel)]="aluno.bairro_resp2" />
                    <label mdbLabel class="form-label" for="bairro_resp2">Bairro</label>
                  </mdb-form-control>
                </div>
                <div class="col-md-6 mb-3">
                  <mdb-form-control>
                    <input mdbInput type="text" id="cidade_resp2" class="form-control" [(ngModel)]="aluno.cidade_resp2" />
                    <label mdbLabel class="form-label" for="cidade_resp2">Cidade</label>
                  </mdb-form-control>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-md-6 mb-3">
                  <mdb-form-control>
                    <input mdbInput type="text" id="estado_resp2" class="form-control" [(ngModel)]="aluno.estado_resp2" />
                    <label mdbLabel class="form-label" for="estado_resp2">Estado</label>
                  </mdb-form-control>
                </div>
                <div class="col-md-6 mb-3">
                  <mdb-form-control>
                    <select mdbInput class="form-control" [(ngModel)]="aluno.parentesco_resp2">
                      <option *ngFor="let p of parentescos" [value]="p">{{ p }}</option>
                    </select>
                    <label mdbLabel class="form-label">Parentesco</label>
                  </mdb-form-control>
                </div>
              </div>

              <h6 class="mb-3">Documentos</h6>
              <p-toast></p-toast>
              <p-fileupload #fileUploader name="files" [url]="uploadUrl" [multiple]="true" [disabled]="!aluno.id"
                            accept="image/*" maxFileSize="1000000" (onUpload)="onTemplatedUpload()" (onSelect)="onSelectedFiles($event)">
                <ng-template #header let-files let-chooseCallback="chooseCallback" let-clearCallback="clearCallback" let-uploadCallback="uploadCallback">
                    <div class="flex flex-wrap justify-between items-center flex-1 gap-4">
                        <div class="flex gap-2">
                            <p-button (onClick)="choose($event, chooseCallback)" icon="pi pi-images" [rounded]="true" [outlined]="true"></p-button>
                            <p-button (onClick)="uploadEvent(uploadCallback)" icon="pi pi-cloud-upload" [rounded]="true" [outlined]="true" severity="success" [disabled]="!files || files.length === 0"></p-button>
                            <p-button (onClick)="clearCallback()" icon="pi pi-times" [rounded]="true" [outlined]="true" severity="danger" [disabled]="!files || files.length === 0"></p-button>
                        </div>
                        <p-progressbar [value]="totalSizePercent" [showValue]="false" class="w-full" styleClass="md:w-20rem h-1 w-full md:ml-auto">
                            <span class="whitespace-nowrap">{{ totalSize }}B / 1Mb</span>
                        </p-progressbar>
                    </div>
                </ng-template>
                <ng-template #content let-files let-uploadedFiles="uploadedFiles" let-removeFileCallback="removeFileCallback" let-removeUploadedFileCallback="removeUploadedFileCallback">
                    <div class="flex flex-col gap-8 pt-4">
                        <div *ngIf="files?.length > 0">
                            <h5>Pending</h5>
                            <div class="flex flex-wrap gap-4">
                                <div *ngFor="let file of files; let i = index" class="p-8 rounded-border flex flex-col border border-surface items-center gap-4">
                                    <div>
                                        <img role="presentation" [alt]="file.name" [src]="file.objectURL" width="100" height="50" />
                                    </div>
                                    <span class="font-semibold text-ellipsis max-w-60 whitespace-nowrap overflow-hidden">{{ file.name }}</span>
                                    <div>{{ formatSize(file.size) }}</div>
                                    <p-badge value="Pending" severity="warn"></p-badge>
                                    <p-button icon="pi pi-times" (click)="onRemoveTemplatingFile($event, file, removeFileCallback, index)" [outlined]="true" [rounded]="true" severity="danger"></p-button>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="uploadedFiles?.length > 0">
                            <h5>Completed</h5>
                            <div class="flex flex-wrap gap-4">
                                <div *ngFor="let file of uploadedFiles; let i = index" class="card m-0 px-12 flex flex-col border border-surface items-center gap-4">
                                    <div>
                                        <img role="presentation" [alt]="file.name" [src]="file.objectURL" width="100" height="50" />
                                    </div>
                                    <span class="font-semibold text-ellipsis max-w-60 whitespace-nowrap overflow-hidden">{{ file.name }}</span>
                                    <div>{{ formatSize(file.size) }}</div>
                                    <p-badge value="Completed" class="mt-4" severity="success"></p-badge>
                                    <p-button icon="pi pi-times" (onClick)="removeUploadedFileCallback(index)" [outlined]="true" [rounded]="true" severity="danger"></p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template #file></ng-template>
                <ng-template #empty>
                    <div class="flex items-center justify-center flex-col">
                        <i class="pi pi-cloud-upload !border-2 !rounded-full !p-8 !text-4xl !text-muted-color"></i>
                        <p class="mt-6 mb-0">Drag and drop files to here to upload.</p>
                    </div>
                </ng-template>
              </p-fileupload>

              <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
                <button type="button" class="btn btn-warning btn-rounded" mdbRipple (click)="save()">
                  <i class="fas fa-save me-2"></i>Salvar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
